<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="StudyPal"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyPal">

        <receiver
            android:name=".receivers.TimerReceiver"
            android:exported="false" />

        <receiver
            android:name=".receivers.DailySummaryReceiver"
            android:exported="false" />

        <activity android:name=".activities.ProgressActivity" />
        <activity android:name=".activities.TimerActivity" />
        <activity android:name=".activities.AddTaskActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.UserInfoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>